{% extends 'base.html.twig' %}

{% block title %}Projects{% endblock %}

{% block body %}

List of Projects

<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    {% for project in projects %}
    <tr>
      <td scope="col"><a href="{{path('project_calendar',{'project': project.id})}}" class="">{{project.id}}</a></td>
      <td>{{project.name}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}